<html>
<head>
<title>Trafic light</title>
<link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity=
"sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
<style type="text/css" media="screen">
a:link { color:white; text-decoration: none; }
a:visited { color:white; text-decoration: none; }
a:hover { color:white; text-decoration: underline; }
a:active { color:white; text-decoration: none; }
</style>
</head>
<body style="font-family=Arial; background-color: black; color: white;">	
<h1>Trafic light</h1>
{%if selected_mode %}
<h2>Selected mode: {{selected_mode}}</h2>
{% endif %}
{% for sequence_id, sequence in sequences.items %}
{{ sequence_id }} - <a id="link_{{ sequence_id }}" onclick="document.getElementById('spinner_{{ sequence_id }}').style.display='';return true"  href="/{{ sequence_id }}">{{ sequence.name }}</a>
<div class="spinner-border text-primary"
     id="spinner_{{ sequence_id }}" role="status" style="display:none;">
  <span class="sr-only">Loading...</span>
</div>
<br/>
<table>
{% for info in sequence.info %}
<td style="border: 1px solid #ddd; padding-bottom: 3px; padding-left: 6px; padding-right: 6px;">
	<img src="/static/img/green_{% if info.green %}on{% else %}off{% endif %}.png" height="16" width="16" />{% if info.green_blink %}*{% endif %}
<img src="/static/img/yellow_{% if info.yellow %}on{% else %}off{% endif %}.png" height="16" width="16" />{% if info.yellow_blink %}*{% endif %}
<img src="/static/img/red_{% if info.red %}on{% else %}off{% endif %}.png" height="16" width="16" />{% if info.red_blink %}*{% endif %}  - {{info.t}}
</td>
{% endfor %}
</table>
<br/>
{% endfor %}
<br/>
<br/>
* = blink
</body>
</html>
